/* Ð¡olors */
/*basic settings*/
html {
  font-size: 10px;
}
/*typography*/
section {
  padding: 10rem 0;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  background-color: #ffb200;
  color: #ffffff;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 9px;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #000000;
}
.header {
  height: 7rem;
}
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.png) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0rem;
  margin-bottom: 4rem;
  font-weight: bold;
  line-height: 1.45;
  font-size: 3.8rem;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #00c939;
  text-align: center;
}
.main span strong {
  font-size: 1.8rem;
  font-weight: bold;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: bold;
}
.main-form {
  display: block;
  background-color: #ffffff;
  text-align: center;
  padding: 4rem 5rem;
}
.main-form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 2rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  font-size: 1.2rem;
}
.main-form label {
  position: absolute;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.main-form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone_link {
  display: inline-block;
  color: #1a1820;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.9rem;
  line-height: 7rem;
}
